<div class="container">
    <form [formGroup]="tournamentForm">
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="inputAddress">*Tournament name:</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="Name" mdbInputDirective
                    placeholder="Foosball Champions" [(ngModel)]="name">
            </div>
        </div>
        
        <div class="form-row justify-content-center">
            <a (click)="updateTournament()" class="btn btn-dark mr-2">
                💾 Save
            </a>
            <a class="btn btn-danger ml-2" (click)="closeTournament()">
                ❌ Delete Tournament
            </a>
        </div>
    </form>
</div>