<div class="text-center">
    <h3> 🏅 Teams 🏅 </h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                    <th scope="col">Win</th>
                    <th scope="col">Lost</th>
                    <th scope="col">Pts Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of teams;index as i" [ngClass]="{'table-danger':i >= 8, 'table-success': i < 8}">
                    <th scope="row">{{i+1}}</th>
                    <td>{{t.name}}</td>
                    <td>{{t.score}}</td>
                    <td>{{t.win}}</td>
                    <td>{{t.lost}}</td>
                    <td>{{t.goalFatti - t.goalSubiti}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>