<div class="container">
    <div class="row mt-5">
        <div class="col-lg-2 col-md-2 col-sm col-xs">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h2 class="text-center mb-5">- Create a new team -</h2>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-2 col-md-2 col-sm-1 d-xs-none">
        </div>
    
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <form [formGroup]="teamForm" style="width:100%;">
                <div class="form-row justify-content-center">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="inputAddress">*Team name:</label>
                        <input type="text" class="form-control" id="inputAddress" formControlName="Name" mdbInputDirective
                            placeholder="Team FC" [(ngModel)]="name">
                    </div>
                </div>
                <div class="form-row justify-content-center">
    
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="inputAddress">*Striker:</label>
                        <select formControlName="Striker" class="form-control" [(ngModel)]="striker">
                            <option disabled>Select a Striker</option>
                            <option *ngFor="let striker of getStrikers()" [ngValue]="striker">{{striker.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="inputAddress">*Defender:</label>
                        <select formControlName="Defender" class="form-control" [(ngModel)]="defender">
                            <option disabled>Select a Defender</option>
                            <option *ngFor="let defender of getDefenders()" [ngValue]="defender">{{defender.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="text-center mt-2 mb-5">
                    <button type="submit" class="btn btn-dark" [disabled]="teamForm.invalid"
                        (click)="createTeam()">Create</button>
                </div>
            </form>
        </div>
    
        <div class="col-lg-2 col-md-2 col-sm-1 d-xs-none">
        </div>
    </div>
</div>