<main class="dashboard">
    <div class="content">
        <div class="content__top-box">
            <h3>Active Tournaments</h3>
        </div>
        <div class="content__list-tournaments">
            <div class="container">
                <div class="table">
                    <div class="table__header">
                        <div class="row m-0">
                            <div class="head-col col">
                                <span>
                                    Type
                                </span>
                            </div>
                            <div class="head-col col">
                                <span>
                                    Name
                                </span>
                            </div>
                            <div class="head-col col">
                                <span>
                                    N° Teams
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table__content">
                        <div class="single-row row m-0" *ngFor="let t of tournaments">
                            <div class="data-col col">
                                <img [src]="'../../assets/icons/'+t.type+'.png'" class="img-fluid" [alt]="t.type">
                            </div>
                            <div class="data-col col">
                                <span (click)="goToTournament(t.id)">{{t.name}}</span>
                            </div>
                            <div class="data-col col text-center">
                                {{t.teams}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>