.body:nth-child(even)
{
    background: #d3d3d3;
}
.body:nth-child(odd)
{
    background: #c2c2c2 ;
}

.header:nth-child(2)
{
    background: white !important;
    border-top: 2px dashed black;
}