<div class="v-flex-container container-align-center animated fadeIn">

    <div class="flex-container container-align-center animated jackInTheBox">
        <div class="flex-cell cell-2 medium-cell-1 small-cell-2 cell-align-end" style="margin:0 auto;">
            <h1 class="text-center title-text">Welcome!</h1>
            <h2 class="text-center">This is Foosball Manager</h2>
            <h3 class="text-center">A web app where you can organize your personal foosball championship!</h3>
        </div>
    </div>

    <div class="flex-container container-align-center animated fadeInUp">
        <div class="flex-cell cell-3 medium-cell-1 small-cell-2">
            <a (click)="auth.SigninWithGoogle()" class="btn btn-primary">
                Click here to start!
            </a>
        </div>
    </div>
</div>