<main class="welcome">
    <div class="content">
        <div class="content__logo">
            <img src="../../assets/foosball_logo.svg" class="img-fluid" alt="logo">
        </div>

        <div class="content__info">
            <h3 class="welcome-text">Welcome on <br /> Foosball Manager!</h3>
        </div>

        <div class="content__buttons">
            <button (click)="auth.SigninWithGoogle()" class="btn-login">
                <img src="../../assets/icons/google.svg" class="icon img-fluid">
                Join with Google
            </button>
        </div>

    </div>
</main>

<app-footer></app-footer>